.header{
    margin-left: 10px;
    width:99%;
    height: 160px;
    background-color: #808080;
}
 /* div{
    border: 1px solid black;
}          */
.nav{
    margin-top: 2px;
    height: 60px;
    width: 1335.5px;
}
.aside{
    float: left;
    width: 20%;
    height: 2030px;
    margin-top: 55px;
    margin-left: 10px;
    background-color: #DEB887;
}
.main{
    margin-left: 20.1%;
    width: 79.4%;
    height: 1970px;
    margin-top: 55px;
}
.footer{
    width: 125.7%;
    height: 150px;
    margin-top: 550px;
    margin-left: -350px;
}
.logo{
   margin-top: 15px;     
   margin-left: 95px;
   width: 100px;
   height: 100px;
   box-shadow: 50px -5px 50px -20px #DCDCDC; 
   background-color: #DCDCDC;
   left: 20px;
}
.name{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 32px;
    margin-top: -15px;
    padding-left: 5px;
}
.name-2{
    float: right;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo-1{
    width: 70px;
    height: 70px;
    float: right;
    margin-top: 60px;
    margin-right: 480px;
}
.logo-2{
    width: 70px;
    height: 70px;
    float: right;
    margin-right: -190px;
    margin-top: 60px;
}
.logo-3{
    float: right;
    width: 80px;
    height: 80px;
    margin-right: -310px;
    margin-top: 60px;
}
.name-3{
    float: right;
    text-align: center;
    margin-top: -100px;
    margin-right: -380px;
    color: beige;
}
.name-4{
    width: 400px;
    height: 70px;
    float: right;
    right:0;
    margin-right: -907px;
    margin-top: -50px;
    text-align: right;
    padding-right: 5px;
}
.footlogo{
    width: 100%;
    height: 150px;
    margin-top: 100px;
}
.namefoot{
    width: 350px;
    height: 50px;
    margin-top: -145px; 
    margin-left: 1300px;
    text-align: right;
}
/* І */
  .donate{
    display: block;
    width: 99%;
    height: 150px;

  }
  .tom{
    margin-top: -140px;
    margin-left: 30px;
  }
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 75px;
    color: #fff;
  }
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -130px;
  }
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } 
.card-deck img {
    width: 100%;
    height: 180px;
}
.card-body{
    width: 99%;
}
.card-deck{
    width:98%;
    padding-top: 10px;
    padding-left: 50px;
}
.Realname{
    margin-top: 40px;
    position: absolute;
    margin-left: 520px;
}
.card-group{
    margin-top: 100px;
    padding: 10px;
}
.one{
    margin-top: 10px;
} 
.realname-1{
    position: absolute;
    margin-top: 50px;
    margin-left: 20px;
    left: 1px;
}
.carousel{
    margin-top: 120px;
}
.carousel img{
    width: 100%;
    height: 130px;
}
.navbar,s{
    width: 1335.5px;
    height: 40px;
}
.d-flex{
    padding: 5px;
    width: 460px;
    height: 60px;
}
.form-control {
    margin-top: 8px;
    
}
.btn-outline-success{
    width:350px;
    height: 40px;
   
}
.container-fluid{
    height: 60px;
}
.navbar-brand:hover{
    background-color: orange;
    color: #fff;
    margin:15px; 
    padding: 10px;
    width: 120px;
    text-align: center;   
}
.navbar-brand{
    font-size: 32px;
    padding: 5px;
    background-color: black;
    color: #fff;
}
.joy:hover{
    width:280px;
    text-align: center;
    padding: 5px; 
    height: 50px;
     padding-top: 10px; 
}
.cat:hover{
    padding-right: 10px;
    text-align: center;
    width: 120px;
}
.ip:hover{
    width: 160px;
}
.row-cols-md-8{
    margin-top: 100px;
    left: -20px;
}
.card-title, h6{
    text-align: center;
}
.row-cols-md-8 img{
    width: 180px;
    height: 180px;
    align-self: center;
    margin-top: 10px;

}
.row-cols-md-8{
    margin-top: 120px;
    left: -20px;

}
.alen{
    margin-top:-15px;
}
.card-text{
    text-align: center;
}
.form-check-inline{
    margin-left: 70px;
}
.y{
    margin-left: 85px;
}
#seven{
    margin-left: 85px;
}
.t-34{
    text-align: center;
}

.t-72{
    margin-left: 800px;
    margin-top: -500px;
    width: 200px;
    height: 60px;
    
    
}
.kol{
    width:400px;
    margin-left: -200px;
    margin-top: -20px;
    
}
.card-group img{
    width: 170px;
    height: 170px;
    align-self: center;
}
#bit{
    margin-left: 55px;
}
.wape{
    margin-left: -200px;
}
.input-group{
    margin-left: -210px;
}
.bg-fon{
    margin-top: 100px;
}
.x{
    margin-left: 80px;
    margin-top: 75px;
} 
.h-100{
    width: 260px;
    margin-left: -25px;
}
.tim{
    margin-left: -10px;
}
#dit{
    margin-left: 45px;
}
.dropdown{
    background-color: black;
    color: white;
}
.footlogo-1{
    width: 1348px;
    height: 150px;
}
.footer-1{
    width: 1348px;
    height: 150px;
    margin-top: -15px;
}
.jack {
    text-align: center;
    background-color: aqua;
    
}
.prime{
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #6B8E23;
}
.rip:hover{
    left: -20px;
}


